<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="http-equiv" content="IE=edge" />
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>